.DashBoard{
  min-height:'100%';
  
  margin: 0px;
}
.FillForm{
  width:98%;
}
.Header{
  border-bottom: 2px solid rgba(147, 145, 145, 0.1);
  
  
  position: relative;
  background-color: aqua;
}
.Heading{
  padding-top:90px;
  margin-left:30%;
}
.DashBtn{
  width:279px;
height:50px;
text-align: center;
border-radius: 6px;

}
.DashBtn:hover{
  background-color: orangered;
}
#Menu{
  padding-top: 6px;
  font-weight:bold;
  color:black;
}
#Menu:hover{
  color: white;
}
.EditBlock{
  box-shadow: 5px 5px 8px 3px grey;
  width:90%;
  height:450px;
  border-radius:8px;
  margin:30px;
  padding-top: 50px;
}
#UpdateButton{
  margin-left: 30%;
  margin-top: 40px;
  width:300px;
}
.ViewHeading{
  margin-top: 40px;
  padding-left: 30%;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 40px;
  font-weight: bolder;
}
#IndUserBlock{
  box-shadow: 5px 5px 6px 3px grey;
  width:90%;
  margin: 4%;
  border-radius: 10px;
}
.IndUserHeading{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  margin: 30px;
  margin-left: 30%;
}